.about-container h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive design for mobile view */
@media only screen and (max-width: 768px) {
  .about-container h1 {
    font-size: 28px;
  }
}

/* Additional styling for mobile view */
@media only screen and (max-width: 480px) {
  .about-container h1 {
    font-size: 24px;
  }
}


.social-icons {
  display: flex;
  justify-content: space-around; /* or space-between, center, etc. */
  gap: 20px; /* adjust the gap size as needed */
}