<section class="about-container">
  <h1 data-aos="fade-down" data-aos-duration="1200">About Us</h1>

  <p data-aos="fade-up" data-aos-delay="100">
    𝑾𝒆𝒍𝒄𝒐𝒎𝒆 𝒕𝒐 𝑷𝒐𝒃𝒊 𝑺𝒌𝒊𝒏𝒄𝒂𝒓𝒆, 𝒘𝒉𝒆𝒓𝒆 𝒏𝒂𝒕𝒖𝒓𝒆 𝒎𝒆𝒆𝒕𝒔 𝒊𝒏𝒏𝒐𝒗𝒂𝒕𝒊𝒐𝒏...
  </p>

  <p data-aos="fade-up" data-aos-delay="200">
    𝑨𝒕 𝑷𝒐𝒃𝒊 𝑺𝒌𝒊𝒏𝒄𝒂𝒓𝒆, 𝒘𝒆'𝒓𝒆 𝒄𝒐𝒎𝒎𝒊𝒕𝒕𝒆𝒅 𝒕𝒐 𝒖𝒔𝒊𝒏𝒈 𝒐𝒏𝒍𝒚 𝒕𝒉𝒆 𝒇𝒊𝒏𝒆𝒔𝒕...
  </p>

  <p data-aos="fade-up" data-aos-delay="300">
    𝑶𝒖𝒓 𝒕𝒆𝒂𝒎 𝒊𝒔 𝒎𝒂𝒅𝒆 𝒖𝒑 𝒐𝒇 𝒔𝒌𝒊𝒏𝒄𝒂𝒓𝒆 𝒆𝒏𝒕𝒉𝒖𝒔𝒊𝒂𝒔𝒕𝒔...
  </p>

  <p data-aos="fade-up" data-aos-delay="400">
    𝑾𝒆'𝒓𝒆 𝒄𝒐𝒎𝒎𝒊𝒕𝒕𝒆𝒅 𝒕𝒐 𝒔𝒖𝒔𝒕𝒂𝒊𝒏𝒂𝒃𝒊𝒍𝒊𝒕𝒚 𝒂𝒏𝒅 𝒓𝒆𝒅𝒖𝒄𝒊𝒏𝒈 𝒐𝒖𝒓 𝒊𝒎𝒑𝒂𝒄𝒕...
  </p>

  <p data-aos="fade-up" data-aos-delay="500">
    𝑨𝒕 𝑷𝒐𝒃𝒊 𝑺𝒌𝒊𝒏𝒄𝒂𝒓𝒆, 𝒘𝒆'𝒓𝒆 𝒐𝒏 𝒂 𝒋𝒐𝒖𝒓𝒏𝒆𝒚...
  </p>

  <p data-aos="fade-up" data-aos-delay="600">
𝓸𝓾𝓻 𝓶𝓲𝓼𝓼𝓲𝓸𝓷 𝓲𝓼 𝓽𝓸 𝓱𝓮𝓵𝓹 𝔂𝓸𝓾 𝓽𝓸 𝓭𝓲𝓼𝓬𝓸𝓿𝓮𝓻 𝔂𝓸𝓾𝓻 𝓷𝓪𝓽𝓾𝓻𝓪𝓵 𝓻𝓪𝓭𝓲𝓪𝓷𝓬𝓮 𝔀𝓲𝓽𝓱 𝓹𝓻𝓸𝓭𝓾𝓬𝓽𝓼 𝓽𝓱𝓪𝓽 𝓷𝓸𝓾𝓻𝓲𝓼𝓱, 𝓹𝓻𝓸𝓽𝓮𝓬𝓽 𝓪𝓷𝓭 𝓻𝓮𝓳𝓾𝓿𝓮𝓷𝓪𝓽𝓮 𝔂𝓸𝓾𝓻 𝓼𝓴𝓲𝓷.  
  𝓯𝓻𝓸𝓶 𝓬𝓵𝓮𝓪𝓷𝓼𝓮𝓻𝓼 𝓪𝓷𝓭 𝓶𝓸𝓲𝓼𝓽𝓾𝓻𝓲𝔃𝓮𝓻𝓼 𝓽𝓸 𝓼𝓮𝓻𝓾𝓶𝓼 𝓪𝓷𝓭 𝓽𝓻𝓮𝓪𝓽𝓶𝓮𝓷𝓽𝓼, 𝔀𝓮 𝓬𝓻𝓪𝓯𝓽 𝓼𝓸𝓵𝓾𝓽𝓲𝓸𝓷𝓼 𝓽𝓱𝓪𝓽 𝔀𝓸𝓻𝓴 𝓲𝓷 𝓱𝓪𝓻𝓶𝓸𝓷𝔂 𝔀𝓲𝓽𝓱 𝔂𝓸𝓾𝓻 𝓫𝓸𝓭𝔂 𝓽𝓸 𝓫𝓻𝓲𝓷𝓰 𝓸𝓾𝓽 𝔂𝓸𝓾𝓻 𝓱𝓮𝓪𝓵𝓽𝓱𝓲𝓮𝓼𝓽 𝓰𝓵𝓸𝔀.
      </p>

      <p data-aos="fade-up" data-aos-delay="700">
        
  </p>
      
  <!-- Social Icons Section -->
  <div class="social-icons" data-aos="zoom-in" data-aos-delay="600">
    <a href="https://www.whatsapp.com/your-profile" target="_blank">
      <i class="pi pi-whatsapp"></i>
    </a>

    <a href="https://www.facebook.com/your-profile" target="_blank">
      <i class="pi pi-facebook"></i>
    </a>

    <a href="https://www.instagram.com/your-profile" target="_blank">
      <i class="pi pi-instagram"></i>
    </a>
  </div>
</section>
