<p-sidebar [(visible)]="sidebarVisible" [modal]="true" [baseZIndex]="10000" position="left">
  <ul class="sidebar-links">
    <li><a routerLink="/" (click)="sidebarVisible=false">Home</a></li>
    <li><a routerLink="/products" (click)="sidebarVisible=false">Products</a></li>
    <li><a routerLink="/about" (click) = "sidebarVisible=false">About</a></li>
    <li><a routerLink="/contact" (click)="sidebarVisible=false">Contact</a></li>
    <li><a routerLink="/reviews" (click)="sidebarVisible=false">Reviews</a></li>
  </ul>
</p-sidebar>


<!-- Navbar -->
<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="sidebarVisible = true">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">Pobi Skincare Website</span>
</mat-toolbar>

<!-- Your router content stays normal -->
<router-outlet></router-outlet>
