/* You can add global styles to this file, and also import other style files */

/* i used the  prebuilt pink/bluegrey theme for quick styling 
i imported primeicons for icons and aos for animations on scroll
*/
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "primeicons/primeicons.css";

@import "aos/dist/aos.css";

/* your custom styles */
body {
  font-family: Arial, sans-serif;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
