.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
}

.product-card {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
